
{#            <td>{{ trail.author.username }}<br>#}
{#                {{ trail.comment }}<br>#}

{#                        {{ rotation, date_time, lat, lng }}<br>#}










<div class="col-md-2">
    <div class="card mb-2" >
        {% if photo.datetime %}
            <div class="card-text small text-muted text-center">{{ photo.datetime|string }}</div>
        {% else %}
            <div class="small text-warning text-center">нет даты</div>
        {% endif %}

        <img src="{{ url_for('static', filename='photos/' + photo.thumbnail()) }}"
             class="img-thumbnail shadow" alt="..."
             width="200">
        <div class="card-body shadow-lg">
            {# Перед тем как отображать проверка, что нет ошибок, есть дата и регион #}
            {% if photo.unsupported_country %}
                <p class="btn-warning small">{{ photo.unsupported_country }} ещё не поддерживается,
                можете
                    <a href="{{ url_for('import_country') }}">добавить</a></p>
            {% elif not photo.lat or not photo.lng %}
                <p class="btn-warning small">Это фото без координат!</p>
            {% endif %}


             {% if photo.area.name and photo.country.name %}
                <div class="card-text">{{ photo.country.name }}</div>
                <div class="card-text small">{{ photo.area.name }}</div>
            {% endif %}

            <div><small class="text-muted">{{ photo.original_filename }}</small></div>

            <div class="d-flex justify-content-between align-items-center">


                <button class="rounded dropdown-toggle btn-outline-secondary small" data-toggle="dropdown">
                    на карте
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item small" href="https://yandex.ru/maps/?text={{ photo.lat }}%2C%20{{ photo.lng }}&mode=search}"
                   target="_blank">Yandex</a>
                    <a class="dropdown-item small" href="https://www.google.com/maps/place/{{ photo.lat }}%2C%20{{ photo.lng }}"
                    target="_blank">Google</a>
                </div>

                <form action="{{ url_for('delete_photo', photo_id=photo.uuid) }}" method="post">
                    {{ delete.hidden_tag() }}
                    {{ delete.delete(class="small btn-round  btn-xs btn-outline-danger")}}


                </form>

            </div>
        </div>
    </div>
</div>


