{#<div class="media">#}
{#  <img src="{{ url_for('static', filename='photos/' + photo.thumbnail) }}"#}
{#       class="mr-3" width="200" alt="...">#}
{#  <div class="media-body">#}
{#    <h5 class="mt-0"> {{ photo.original_filename }}</h5>#}
{#<p class="card-text">{{ photo.datetime, photo.lat, photo.lng, photo.area }}</p>#}
{##}
{#      <div class="btn-group">#}
{##}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">На карте</button>#}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">Править</button>#}
{##}
{#                </div>#}
{##}
{#      </div>#}
{#    </div>#}


<div class="card" style="width: 10rem;">
  <img src="{{ url_for('static', filename='photos/' + photo.thumbnail) }}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{ photo.datetime, photo.lat, photo.lng, photo.area }}</p>
                  <div><small class="text-muted">{{ photo.original_filename }}</small></div>
  </div>
</div>