
{#            <td>{{ trail.author.username }}<br>#}
{#                {{ trail.comment }}<br>#}

{#                        {{ rotation, date_time, lat, lng }}<br>#}










<div class="col-md-3">
    <div class="card mb-2 shadow-sm align-items-center">
        {% if photo.datetime %}
            <div class="card-text small">{{ photo.datetime|string }}</div>
        {% else %}
            <div class="small text-warning">нет даты</div>
        {% endif %}

        <img src="{{ url_for('static', filename='photos/' + photo.thumbnail) }}"
             class="img-thumbnail" alt="..."
             width="200">
        <div class="card-body">
            {# Перед тем как отображать проверка, что нет ошибок, есть дата и регион #}
            {% if photo.error == 'unsupported_country' %}
                <p class="btn-warning">{{ photo.country }} пока не поддерживается,
                но вы можете её
                    <a href="{{ url_for('import_country') }}">добавить</a></p>
            {% elif photo.error == 'no_coordinates' %}
                <p class="btn-warning">Это фото без координат!</p>
             {% elif photo.area and photo.country %}
                <div class="card-text">{{ photo.country }}</div>
                <div class="card-text small">{{ photo.area }}</div>
            {% endif %}

            <div><small class="text-muted">{{ photo.original_filename }}</small></div>

            <div class="d-flex justify-content-between align-items-center">


                <a href="https://yandex.ru/maps/?ll={{ photo.lng }}%2C{{ photo.lat }}"
                   target="_blank"
                   class="btn btn-sm btn-outline-secondary">На карте</a>  {# TODO: Сделать дроа-даун и выбор карты #}
                <form action="{{ url_for('delete_photo', photo_id=photo.uuid) }}" method="post">
                    {{ delete.hidden_tag() }}
                    {{ delete.delete(class="btn btn-sm btn-outline-danger")}}
                </form>



            </div>
        </div>
    </div>
</div>


