{#    <table>#}
{#        <tr valign="top">#}
{#            <td>{{ trail.author.username }}<br>#}
{#                {{ trail.comment }}<br>#}
{##}
{#                    {% for photo in photos %}#}
{#                    <img src="{{ url_for('static', filename='photos/' + photo.file) }}" width="200">#}
{#                    {% endfor %}#}
{##}
{#            </td>#}
{#        </tr>#}
{#    </table>#}


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

          {% for photo in trail.photos if not photo.deleted %}

                        {% include '_photo_detail.html' %}

                {% endfor %}
            <a href="{{ trail.id }}"></a>
        </div>
    </div>
</div>