{% extends "base.html" %}

{% block content %}


    <div class="container col-6">
        <table class="table table-bordered table-sm table-striped shadow-lg">
            <thead>
            <tr>
                <th scope="col">

                    <div class="media w-75">
                        <img class="mr-3 shadow p-0 "
                             src="{{ url_for('static', filename='flags/' + country.iso + '.png') }}"
                             alt="Flag of{{ country.name }}"
                             width="100">
                        <div class="media-body">
                            <h5 class="mt-0">{{ country.name }}</h5>
                            {{ country.areas_count }}
                            {# TODO: Описания страны вставить #}
                        </div>
                    </div>

                </th>

            </tr>
            </thead>
            <tbody>
            {% for area in country.areas %}
                <tr>
                    <td class="d-flex justify-content-between align-items-center">
                        <a href="{{ url_for('area', country_iso=area.country.iso, area_iso=area.iso) }}">{{ area.name }}</a>
                        {% if area.photos_count() %}
                        <span class="badge badge-info badge-pill">{{ area.photos_count() }}</span>
                        {% else %}
                        <span class="badge badge-secondary badge-pill">{{ area.photos_count() }}</span>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}