{% extends "base.html" %}

{% block content %}


    <div class="container col-6">
        <table class="table table-bordered table-sm table-striped">
            <thead>
            <tr>
                <th scope="col">

                    <div class="media w-75">
                        <img class="mr-3 shadow p-0 "
                             src="{{ url_for('static', filename='flags/' + country.iso + '.png') }}"
                             alt="Flag of{{ country.name }}"
                            width="100">
                        <div class="media-body">
                            <h5 class="mt-0">{{ country.name }}</h5>
                            {{ country.areas_count }}
                            {# TODO: Описания страны вставить #}
                        </div>
                    </div>

                </th>

            </tr>
            </thead>
            <tbody>
            {% for area in country.areas %}
                <tr>
                    <td><a href="{{ url_for('area', country_iso=area.country.iso, area_iso=area.iso) }}">{{ area.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}