{% extends "base.html" %}

{% block content %}
    {{ date_time, lat, lng }}
{% for photo in photos %}
<img src="{{ url_for('static', filename='photos/' + photo) }}" width="200">
{% endfor %}


{% if current_user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.photo }}
        <input type="submit">
    </form>



     {% for error in form.photo.errors %}
            <span style="color: red;">{{ error }}</span>
     {% endfor %}

{% else %}
<a href="{{ url_for('login') }}">Залогиньтесь, пожалуйста!</a>
{% endif %}
{% endblock %}