{% extends "base.html" %}


{% block content %}

{% if current_user.is_authenticated %}

<div class="container">
    <div class="col-6 offset-3">
    <ul class="list-group">
    {% for country in countries %}

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ url_for('country', country_iso=country.iso) }}">{{ country.name }}</a>
            {% if country.areas_count %}
            <span class="badge badge-primary badge-pill">{{ country.areas_count }}</span>
            {% else %}
            <span class="badge badge-danger badge-pill">{{ country.areas_count }}</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    </div>
</div>

    <br>

    {% if areas_import %}
    <div class="container">
        <div class="jumbotron col-6 offset-3">

        <h1 class="display-5">Привет, путешественник!</h1>
  <p class="lead">Помоги нам наполнить сайт информацией о странах.</p>
  <hr class="my-3">
  <p>
      Для этого нужно подготовить файл в формате CSV с двумя колонками: название и код региона по ISO.
      Эту информацию легко найти на Википедии, например вот
      <a href="https://ru.wikipedia.org/wiki/ISO_3166-2:PT">Португалия</a>
      , а вот
      <a href="{{ url_for('static', filename='example/' + 'Portugal.csv') }}">пример файла</a>.
  </p>


            <form method="post" enctype="multipart/form-data" class="form-group">

                {% for error in areas_import.file.errors %}
                    <div class="alert alert-warning">
                        {{ error }}
                    </div>
                {% endfor %}

                {{ areas_import.hidden_tag() }}
                <div>{{ areas_import.file }} {{ areas_import.upload }}</div>

            </form>
        </div>
    </div>
        {% endif %}


    {% if form %}
    <div class="container">
        <div class="jumbotron col-6 offset-3 form-group row">

            <h3 class="display-5">Отлично, почти готово!</h3>
            <p class="lead">Теперь заполни название страны и её код по ISO</p>
            <hr class="my-3">

        <form action="" method="post" class="form-group">
                {{ form.hidden_tag() }}

  <div class="input-group-prepend">
    {{ form.name(size=30, placeholder="Название") }} {{ form.iso(size=4, placeholder="ISO") }}

 {{ form.submit(class="btn btn-primary") }}

  </div>

        </form>
  </div>

                    </div>
            </div>

<div class="container w-75">
        <table class="table table-bordered table-sm table-striped">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">ISO</th>
            </tr>
            </thead>
            <tbody>
            {% for name, iso in areas %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ iso }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
    {% endif %}


{% else %}
    <a href="{{ url_for('login') }}">Войдите</a>, пожалуйста!
{% endif %}

{% endblock content %}