{% extends "base.html" %}

{% block content %}
{#        {{ areas }}#}
    {% for trail in trails if not trail.private %}
  <div class="album py-5 bg-light">

    <div class="container">
        <div class=""><h3>{{ trail.author.username }}: {{ trail.comment }}</h3></div>
        <div class="row">
          {% for photo in trail.photos if not photo.deleted %}

                        {% include '_photo_detail.html' %}

                {% endfor %}

        </div>
    </div>
</div>
    {% endfor %}

{% endblock %}
