{% extends "base.html" %}

{% block content %}
    <body class="text-center">
    <form action="" method="post" novalidate class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    <p>Впервые у нас? Тогда <a href="{{ url_for('register') }}">зарегистрируйтесь</a>, пожалуйста</p>
    </body>
{% endblock %}