{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="jumbotron col-6 offset-3 shadow">
    <form action="" method="post" novalidate>


        <h1 class="text-info">Вход</h1>
        {{ form.hidden_tag() }}
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">{{ form.username.label }}</label>
            <div class="col-sm-7">
                {{ form.username(class="form-control") }}
                {% for error in form.username.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 col-form-label">{{ form.password.label }}</label>
        <div class="col-sm-7">
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        </div>

        <div class="form-group row">
            <span class="col-sm-4 col-form-label"></span>
            <div class="col-sm-7">
                        {{ form.remember_me() }} {{ form.remember_me.label }}
            </div>
        </div>


        <div>{{ form.submit(class="btn-lg btn-primary") }}</div>
    </form>
<br>
    <p>Впервые у нас? <br>
        Тогда <a href="{{ url_for('register') }}">зарегистрируйтесь</a>, пожалуйста</p>
    </div>
    </div>
    </div>
{% endblock %}