{% extends "base.html" %}

{% block content %}

    <div class="album py-1 bg-light">
        <div class="container">
            <div class="row">

                {% for photo in photos %}
                {% if photo %}
                    {% include '_photo_edit.html' %}
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>


    {% if current_user.is_authenticated %}
        <form method="post" enctype="multipart/form-data">

            <div class="form-group col-md-5">

                {% for error in form.photo.errors %}
                    <div class="alert alert-warning">
                        {{ error }}
                    </div>
                {% endfor %}



                {{ form.hidden_tag() }}
                <div>{{ form.photo }} {{ form.submit }}</div>
                <div>{{ save.private() }} {{ save.private.label }}</div>
            </div>
        </form>





    {% else %}
        <a href="{{ url_for('login') }}">Залогиньтесь</a>, пожалуйста!
    {% endif %}
{% endblock %}