{% extends "base.html" %}

{% block content %}




    {% if current_user.is_authenticated %}
        <div class="container">
            <div class="jumbotron col-6 offset-3 h-25 shadow-lg">

                <h4 class="display-5">Привет, {{ current_user.username }}</h4>
                <hr class="my-3">
                <p>
                    Здесь вы загружаете свои фотографии, а мы распознаем их геометки.
                </p>

                <form method="post" enctype="multipart/form-data" class="input-group">

                    {% for error in form.photo.errors %}
                        <div class="alert alert-warning">
                            {{ error }}
                        </div>
                    {% endfor %}

                    {{ form.hidden_tag() }}
                    <div class="custom-file">
                        {{ form.photo(class="custom-file-input") }}
                        <label class="custom-file-label">Фото в формате jpeg</label>


                    </div>
                    <div class="input-group-append">
                        {{ form.upload(class="btn btn-outline-primary") }}
                    </div>
                </form>

                {% if photos %}
                    <br>

                    <form action="" method="post">

                        <div class="form-group">

                            {{ save.hidden_tag() }}

                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ save.comment.label }}</span>
                                {{ save.comment(class="form-control") }}
                            </div>

                            <div class="form-check">
                                {{ save.private(class="form-check-input") }} {{ save.private.label(class="form-check-text") }}
                            </div>
                            <div>{{ save.submit(class="btn btn-primary") }}</div>
                        </div>



                    </form>

                {% endif %}


            </div>
        </div>









        <div class="album py-2 bg-light">
            <div class="container">
                <div class="row">

                    {% for photo in photos if not photo.deleted %}

                        {% include '_photo_card.html' %}

                    {% endfor %}

                </div>
            </div>
        </div>







    {% else %}
        <a href="{{ url_for('login') }}">Войдите</a>, пожалуйста!
    {% endif %}

{% endblock content %}