{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="jumbotron col-6 offset-3 shadow">


    <form action="" method="post">
    <h1 class="text-info">Регистрация</h1>
        {{ form.hidden_tag() }}
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">{{ form.username.label }}</label>
            <div class="col-sm-7">
                {{ form.username(class="form-control") }}
                {% for error in form.username.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>

    </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">{{ form.email.label }}</label>
        <div class="col-sm-7">
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">{{ form.password.label }}</label>
        <div class="col-sm-7">
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">{{ form.password2.label }}</label>
        <div class="col-sm-7">
            {{ form.password2(class="form-control") }}
            {% for error in form.password2.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        </div>
        {{ form.submit(class="btn btn-primary") }}


    </form>
    </div>
    </div>
    </div>
{% endblock %}